#devoured-card-header  {
    background-color: #ca341f;
}
/*Font color of devoured burger names*/
.devoured-burger-name {
    color: #ca341f;
}
/* Use Righteous font from Google fonts*/
body {
    font-family: 'Cinzel', serif;
}
/* Font size of app title in jumbotron*/
#app-title {
    font-size: 90px;
}
/*Font size of lead statement in jumbotron*/
.lead {
    font-size: 24px;
}
/* Burger background image*/
body {
    background-color: lightblue;
}
/* Footer color */
.footer-body {
    background-color: #ca341f;
}
/*Border styling for devoured burgers card and footer */
.devoured-card, .footer {  
    border-style: solid;
    border-color: #ca341f;
}